body {
    font: 100% Arial, sans-serif;
    background-color: #ccc;
}

section {
    background-color: white;
    padding: .75rem;
}

section .h2 {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #eee;
    border-bottom: 2px solid;
    margin-bottom: 1rem;
    padding: 1rem;

}

.jumbotron {
    background-image: url(../imgs/bg-2.jpg);
    background-size: cover;
    min-height: 80vh;
    background-position: right center;
    color: white;
    text-align: center;
    padding: 10rem 2rem;
}

.jumbotron h1 {
    font-weight: bold;
    text-shadow: 2px 2px black;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.jumbotron p {
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, .6);
    padding: 1rem;
    font-size: 1rem;
    display: inline-block;
}

.nav {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 1;
}

.nav > li {
    border: 1px solid white;
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, .1);

}

.nav > li:hover {
    background-color: rgba(0, 0, 0, .3);
}

.nav > li a {
    font-size: .75rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
}

.cards-container {
    padding: .75rem 1.25rem;
}

.cards-container .card {
    border-radius: 0;
    border: none;
}

.cards-container .card-body {
    background-color: rgb(70, 70, 70);
    font-size: .8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
}

.rodape {
    height: 3rem;
    background-color: #6b6c68;
    color: white;
    font-size: .8rem;
    text-shadow: 2px 2px black;
    text-align: center;
    padding-top: 1rem;
    margin-top: 2rem;
}