body {
    background-color: #ccc;
    font: 100% Arial, sans-serif;
}

section {
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
}

section .h2 {
    font-size: 1rem;
    font-weight: bold;
    background-color: #eee;
    border-bottom: 2px solid black;
    padding: 1rem;
}

.jumbotron {
    background-image: url(../imgs/bg-2.jpg);
    min-height: 80vh;
    background-position: right center;
    background-size: cover;
    padding: 10rem 2rem;
    color: white;
    text-align: center;
}

.jumbotron h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 2px 2px black;
    text-transform: uppercase;
    padding: 2rem;
}

.jumbotron p {
    background-color: rgba(0, 0, 0, .6);
    border-bottom: 2px solid white;
    font-size: 1rem;
    padding: 1rem;
    display: inline-block;
}

